


<div class="share">

  <div class="banner">
    <div class="up">
      <div class="CTA">
          <h1>Transfer data system</h1>
          <h2>Send up to 1 To files</h2>
        </div>

        <div class="click">
          <%= link_to "Send files",new_user_session_path %>
        </div>

    </div>



  </div>






  <div class="suscribe">

    <div class="title">
      <h2> What do you need ? </h2>
    </div>

    <div class="offers">
      <div class="offer">
        <h3>Basic <br> offer</h3>
        <hr>
        <p> up to 2 Go</p>
        <p>Free</p>
        <p> Send your file</p>
        <p> <%= link_to "Here", dashboard_path %> </p>

      </div>
      <div class="offer">
        <h3>Standard offer</h3>
        <hr>
        <p> up to 50 Go</p>
        <p> 5 $ /month </p>
        <p> Send your file</p>
        <p> <%= link_to "suscribe", standard_path %> </p>

      </div>
      <div class="offer">
      <h3>Premium offer</h3>
      <hr>
      <p> up to 1 To</p>
      <p> 15 $ / month </p>
      <p> Send your file</p>
      <p> <%= link_to "suscribe", premium_path %> </p>

      </div>
    </div>






  </div>







</div>
